@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"),
    url("/fonts/OpenSans-Regular.woff")
    format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"),
    url("/fonts/OpenSans-Bold.woff")
    format("woff");
    font-weight: 700;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*image в CSS*/
.header {
    background-image: url("./images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color: #000000;
    color: #000000;
    position: relative;
    z-index: 0;
    padding: 20px 0px 128px 0px;
    margin-bottom: 60px;
}

 .header:before {
    z-index: 2;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.wrapper {
    width: 100%;
    display: flex;
    /*position: fixed; */
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    /*margin-left: auto;
    margin-right: auto; */
    align-items: center;
         /*border: 5px solid red; */
    padding: 20px 80px 20px 80px;
}

.logo {
    width: 179px;
    position: relative;
    z-index: 3;
    /*height: 41px; */
}

 /*Прячем меню*/
/*@media (min-width: 640px) {
    .menu__button {
        display: none;
    }
}

@media (min-width: 641px) {
    .menu {
        text-align: right;
    }
}

@media (max-width: 641px) {
    .js-menu_active .menu__button-label {
        opacity: 0;
    }
   } */

.menu {
    display: flex;
    width: 462px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;
}

.menu ul li:nth-of-type(1n + 2) a {
    margin-left: 40px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.menu ul {
    display: flex;
}

/*.menu-button {
    width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
}
.menu-button:after {
    bottom: 0;
}

.menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}

button {
    writing-mode: horizontal-tb !important;
    /* font-style: ;
     font-variant-ligatures: ;
     font-variant-caps: ;
     font-variant-numeric: ;
     font-variant-east-asian: ;
     font-variant-alternates: ;
     font-weight: ;
     font-stretch: ;
     font-size: ;
     font-family: ;
     font-optical-sizing: ;
     font-kerning: ;
     font-feature-settings: ;
     font-variation-settings: ; */
   /* text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default; */


.menu-list {
    display: flex;
    width: 462px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}

 h1 {
     max-width: 679px;
     color: #ffffff;
     position: relative;
     font-family: "Open Sans", sans-serif;
     padding-top: 110px;
     font-size: 42px;
     font-weight: 700;
     font-style: normal;
     letter-spacing: normal;
     line-height: 1.7;
     text-align: center;
     /*margin-left: auto;
     margin-right: auto; */
     margin: auto;
     text-transform: uppercase;
     z-index: 3;
 }


/*Сейчас в тренде */
.trend-title {
    text-align: center;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 29.15px;
}

/*Полоска под заголовком*/
 .trend-title::after {
    content: "";
    display: block;
    background-color: #b59f5b;
    width: 66px;
    height: 3px;
    margin: 10px auto 35px auto;
}

/*CSS от 1200*/
@media (min-width: 1200px) {
       .trend {
        display: flex;
        max-width: 1660px;
        flex-wrap: nowrap;
       }

   .trend-card  {
       width: 25%;
    }
}

 /*CSS 769-1199 портрет*/
@media (min-width: 769px) and (max-width: 1199px) and (orientation: portrait) {
    header {
        background-image: url("./images/banner-bg-tablet.jpg");
    }

    .trend  {
        display: flex;
        flex-wrap: wrap;
    }

    .trend-card {
        width: 50%;
    }
}

/*CSS 769-1199 пейзаж*/
@media (min-width: 769px) and (max-width: 1199px) and (orientation: landscape) {
    header {
        background-image: url("./images/banner-bg-tablet.jpg");
    }
    .trend {
        display: flex;
        flex-wrap: wrap;
    }

    trend-card  {
        width: 25%;
    }
}

/*CSS 641-768 портрет*/
@media (min-width: 641px) and (max-width: 768px) and (orientation: portrait) {
    header {
        background-image: url("./images/banner-bg-tablet.jpg");
    }

    .trend  {
        display: flex;
        flex-wrap: wrap;
    }

    .trend-card {
        width: 46%;
    }
}

/*CSS 641-768 пейзаж*/
@media (min-width: 641px) and (max-width: 768px) and (orientation: landscape) {
    header {
        background-image: url("./images/banner-bg-tablet.jpg");
    }
    .trend {
        display: flex;
        flex-wrap: wrap;
    }

    trend-card  {
        width: 25%;
    }
}

/*CSS до 640 портрет*/
@media (max-width: 640px) and (orientation: portrait) {
    .header {
        background-image: url("./images/banner-mobile.jpg");
    }

    .trend {
        display: flex;
       flex-wrap: wrap;
    }

    .trend-card {
        /* width: calc((100%) / 4); */
        width: 25%;
    }

  /*  .main-info {
        flex-grow: 1;
        display: flex;
    }  */
}

/*CSS до 640 пейзаж*/
@media (max-width: 640px) and (orientation: landscape) {
    .header {
        background-image: url("./images/banner-mobile.jpg");
    }

    .trend {
        display: flex;
        flex-wrap: nowrap;
    }
    .trend-card {
      width:50%;
    }
}

/*CSS до 360 портрет*/
@media (max-width: 360px) and (orientation: portrait) {
    .header {
        background-image: url("./images/banner-mobile.jpg");
    }

    .trend {
        display: flex;
        flex-wrap: wrap;
    }

    .trend-card {
        width: 21.6%;
    }

    /*  .main-info {
          flex-grow: 1;
          display: flex;
      }  */
}

/*CSS до 360 пейзаж*/
@media (max-width: 640px) and (orientation: landscape) {
    .header {
        background-image: url("./images/banner-mobile.jpg");
    }

    .trend {
        display: flex;
        flex-wrap: nowrap;
    }
    .trend-card {
        width:50%;
    }
}

/*=======CSS общие для Тренд========*/
.trend {
    width: 100%;
    margin: auto;
    gap: 4px;
}

   .trend-card  {
       display: flex;
    position: relative;
    /* width: 410px; */
    min-height: 319px;
    width: calc((100% - 120px) / 4);
       margin: auto;
        /*это позиционирование по низу карточки*/
    align-items: flex-end;
   padding: 0px 18px 16px 18px;
}

.trend-card::before {
    z-index: 2;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    /*position: absolute это ключевая фишка, иначе бокс растягивается*/
   position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

/*Border c Заголовком и категории*/
.trend-border {
    position: relative;
    z-index: 3;
    color: #ffffff;
    border: 3px solid #b59f5b;
    padding: 20px 30px 25px 40px;
   }

.trend-border:hover {
color: #b59f5b;
}

.trend-name {
    /*width: 300px; */
    /*color: #ffffff;
    font-family: "Open Sans", sans-serif; */
    text-transform: uppercase;
    font-size: 20px;
    /*font-weight: 700; */
    padding-right: 15px;
    line-height: 24px;
    /*text-align: left;
    margin-left: auto;
    margin-right: auto; */
  }

/*.trend-card {
    background-repeat: no-repeat;
}не нужно, сужает картинку*/

/*добавила*/
.trend1 {
    background-image: url("./images/trend1.jpg");
    /*max-width: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
.trend2 {
    background-image: url("./images/trend2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.trend3 {
    background-image: url("./images/trend3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.trend4 {
    background-image: url("./images/trend4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trend-tag {
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    margin-right: 12px;
}

.trend-tag:hover {
    text-decoration: underline;
}

/*Styles Left-Right*/
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto 0px auto;
    padding: 60px 15px 0px 15px ;
  }
  
  /*Styles Left*/
  .main-info {
    max-width: 793px;
      }
  
  .posts {
    display: flex;
    margin-bottom: 60px;
  }
  
  .posts-images {
    width: 381px;
    height: 294px;
    margin-right: 30px;
    background-color: #8acab5;
  }
  
  .blog-posts {
    max-width: 367px;
  }
  
  /* Style  Travel*/
  .categories ul li a {
    width: 125px;
    color: #b59f5b;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: left;
    text-transform: uppercase;
  }
  
  .categories ul {
    display: flex;
  } /* категории в 1 строку*/
  
  .categories ul li:nth-of-type(1n + 2) {
    margin-left: 18px;
  }
  
  .categories ul li a:hover {
    text-decoration: underline;
  }
  
  /* Style for "10 мест, слева" */
  .post-title a {
    width: 330px;
    color: #0f0d0e;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
  }
  
  .post-title a:hover {
    color: #b59f5b;
  }
  
  .date-author {
    margin-bottom: 48px;
  }
  
  /* Style 10 июня*/
  .date {
    width: 79px;
    color: #888888;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: left;
  }
  
  /* Style Неизвестный автор */
  .author {
    width: 125px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: left;
  }
  
  /* Style Итак, вы в Питере */
  .article-text {
    width: 350px;
    color: #0f0d0e;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
  }
  
  /*Right*/
  .sidebar {
    width: 272px;
    padding-right: 25px;
  }
  
  .new-posts {
    text-align: left;
    display: block;
  }
  
  /* Style Новые посты */
  .header-sidebar {
    color: #0f0d0e;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 29.15px;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* Style Полоска под Новые посты */
  .header-sidebar::after {
    content: "";
    display: block;
    background-color: #b59f5b;
    width: 66px;
    height: 3px;
    margin: 0px auto 25px auto;
  }
  
  .article-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  /*Style for картинки*/
  .article-pictures {
    width: 70px;
    margin-right: 20px;
    margin-top: 0px;
    transform: translate(2px, 4px);
  }
  
  /* Style  14 июня 20 */
  .article-posts {
    color: #8e8e8e;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
  }
  
  /**Дата в sidebar*/
  .sidebar section span {
    color: #8e8e8e;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
  }
  
  /* Style 10 мест */
  .article-titles a {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: bold;
  }
  
  .article-titles a:hover {
    color: #b59f5b;
  }
  
  /* Style Найти... */
  form.search-box {
    display: flex;
    width: 272px;
    outline: none;
    outline-offset: 0;
    margin: 40px 15px 52px 0px;
  }
  
  .search {
    box-sizing: border-box;
    /*border: none; */
    width: 221px;
    height: 49px;
    background-color: #f4f7f6;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #000000;
    outline: none;
    padding: 18px 16px;
    border-left: solid;
    border-bottom: solid;
    border-top: solid;
    border-color: transparent;
    line-height: 40px;
  }
  
  .search:focus {
    outline: none;
    border-left: solid #cec299;
    border-bottom: solid #cec299;
    border-top: solid #cec299;
  }
  
  .button {
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    background-image: url("//raw.githubusercontent.com/BuketovaGalina/mqdip/f89450abe81b0e5ee6c5cd180951162967a6738a/svg/search.svg");
    background-color: #b59f5b;
    background-size: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .button:hover {
    background-color: #323232;
  }
  
  /* Style for "Рассылка" */
  .header-subscribe {
    font-family: "Open Sans", sans-serif;
    color: #0f0d0e;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 29.15px;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* Style for "Полоска под Рассылка" */
  .header-subscribe::after {
    content: "";
    display: block;
    background-color: #b59f5b;
    width: 66px;
    height: 3px;
    margin: 0px auto 20px auto;
  }
  
  .subscribe-box {
    margin: 0px 15px 62px 0px;
  }
  
  /* Style for "Ваш email */
  .email {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box; /*прямоугольник*/
    border: none;
    max-width: 271px;
    height: 49px;
    background-color: #f4f7f6;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    padding: 23px 148px 18px 18px;
    margin: 5px 15px 16px 0px;
  }
  
  .email:focus {
    outline: solid #cec299;
  }
  
  /* Style for "Подписаться" */
  .subscribe-button {
    min-width: 271px;
    height: 49px;
    background-color: #b59f5b;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    /* background-image: url(""); */
    background-size: 20px;
    vertical-align: middle;
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
  }
  
  .subscribe-button:hover {
    background-color: #323232;
  }
  
  /*Теги*/
  .tag {
    margin-top: 85px;
    transform: translate(0px, -28px);
  }
  
  .boxes {
    margin-top: 60px;
  }
  
  .boxes li {
    display: inline-block;
    border: 3px solid;
    border-color: #ededed;
    padding: 4px 13px 1px 13px;
    margin-bottom: 6px;
    margin-right: 3px;
    transform: translate(0px, -30px);
  }
  
  .boxes li:hover {
    border: 3px solid #b59f5b;
  }
  
  .boxes li a {
    font-family: "Open Sans", sans-serif;
    color: #0f0d0e;
    font-weight: 700;
    text-align: center;
    vertical-align: center;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  /*Style для Темы */
  .topics {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
  }
  
  .topics-sidebar {
    font-family: "Open Sans", sans-serif;
    color: #0f0d0e;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 29.15px;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* Style for "Полоска под Темы" */
  .topics-sidebar::after {
    content: "";
    display: block;
    background-color: #b59f5b;
    width: 66px;
    height: 3px;
    margin: 0px auto 30px auto;
  }
  .topics ul li a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #000000;
  }
  
  .topics ul li a:hover {
    color: #b59f5b;
  }
  
  .topics ul li::after {
    content: "";
    display: block;
    background-color: #eeeeee;
    width: 272px;
    height: 1px;
    margin: 10px auto 12px auto;
  }
  
  .topics ul li span {
    color: #b59f5b;
  }
  
  .number-of-pages {
    vertical-align: super;
  }

/*Products*/
.products-title {
    text-align: center;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 29.15px;
}

/*Полоска заголовком*/
.products-title::after {
    content: "";
    display: block;
    background-color: #b59f5b;
    width: 66px;
    height: 3px;
    margin: 10px auto 35px auto;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
    }

.product {
    box-sizing: border-box;
    width: 25%;
  /*  gap: 20px; */
    text-align: left;
   /*    font-size: 16px; */
    }

.picture-img {
    position: relative;
    width: 300px;
    height: 205px;
    display: flex;
    /*это позиционирование по верху карточки*/
    /*align-items: flex-start; */
    padding: 0px 22px 16px 18px;
}

.product__preview {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*CSS рамка*/
.product-info {
   /*display: flex; */
  /*  flex-wrap: wrap; */
    color: #000000;
    border: 3px solid #b59f5b;
    margin: -50px 40px 40px -10px;
    padding: 20px 20px 20px 20px;
    width: 310px;
    /*height: 267px; */
    text-align: left;
    opacity: 0.6;
    /*flex-grow: 1; */
    /*для автомат растяжки*/
         }

.product-info:hover {
    color: #b59f5b;
    }

.product-name {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding-right: 15px;
    line-height: 24px;
    /*text-align: left;
    margin-left: auto;
    margin-right: auto; */
    /*добавила*/
    margin-top: 1.5em;
    margin-bottom: 0;
 }

.product-link {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #b59f5b;
   }

.product-button {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    /*выровнять кнопку с правого края*/
    margin-left: auto;
    margin-right: 0;
}

/*Стили для зачеркутой цены*/
.product-price {
    display: block;
    font-weight: 700;
    font-size: 15px;
    text-decoration: line-through;
}

 .product-price-no {
    display: block;
    margin: 30px 0px 0px -45px;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.1;
   }

 /*Стили для обычной цены*/
 .product-price-toy {
    display: block;
    font-weight: 700;
    font-size: 20px;
     margin: auto;
 }

/* Стили В магазин*/
.sub-button {
    min-width: 200px;
    height: 49px;
    background-color: #b59f5b;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: 20px;
    vertical-align: middle;
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    /*выровнять кнопку с правого края*/
    margin-left: auto;
    margin-right: 0;
}

.sub-button:hover {
    background-color: #323232;
}

/*.product-preview::before {
    z-index: 2;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    /*position: absolute это ключевая фишка, иначе  бокс растягивается*/
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); */


  .footer {
    margin: auto;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
  }
  
  .social-info {
   /* margin: 5px 0px 36px 0px;*/
      display: flex;
      justify-content: center;
      background-color: #f4f7f6;
      padding: 35px 25px 30px 28px;
  }
  
  /*.socials-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #f4f7f6;
    padding: 35px 25px 30px 28px;
  } */
  
 /* .socials:nth-of-type(1n + 2) {
    margin-left: 28px;
  } */
  
  .socials-link {
    display: block;
    background-color: #f4f7f6;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .socials-link-dribble {
/*background-image: url("//raw.githubusercontent.com/BuketovaGalina/mqdip/f89450abe81b0e5ee6c5cd180951162967a6738a/svg/001-dribbble.svg"); */
      background-color: #f4f7f6;
     }

.socials-link-pinterest {
 /*background-image: url("//raw.githubusercontent.com/BuketovaGalina/mqdip/f89450abe81b0e5ee6c5cd180951162967a6738a/svg/001-pinterest.svg"); */
     background-color: #f4f7f6;
     margin-left: 28px;
}

.socials-link-tumblr {
/*background-image: url("//raw.githubusercontent.com/BuketovaGalina/mqdip/f89450abe81b0e5ee6c5cd180951162967a6738a/svg/004-twitter.svg");  */
background-color: #f4f7f6;
    margin-left: 28px;
}
  
  .socials-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .copyright {
    width: 218px;
    text-align: center;
    margin: auto;
  }
  
  .copyright a {
    margin-bottom: 41px;
    font-size: 12px;
    color: #999999;
  }
  
  .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
  }

/*PopUp


